packages/*
!repositories.config
[bB]in
[Oo]bj
*.suo
*.user
*.[Cc]ache
*.log
[Tt]humbs.db
*.dotCover
*[Rr]e[Ss]harper.*
test
*Web.config
*Nlog.config
MoolahConnectnew/NLog.config
MoolahConnectnew/Web.config
/MoolahConnect.Database/MoolahConnect.Database.publish.xml
/MoolahConnect.Database/MoolahConnect.Database.dbmdl
/MoolahConnect.Database/*.jfm
/MoolahConnectnew/*.config
/.vs/config/applicationhost.config
/MoolahConnect.WcfServiceLibrary/Content/Pdf/~$vestorDigSignature.pdf
