<div class="col-lg-6">
    <div class="col-lg-3 ">
        <label>Member Id </label>
    </div>

    <div class="col-lg-3 ">
        <input id="txtEditMemberId" type="text" />
    </div>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        <label>First Name </label>
    </div>
    <div class="col-lg-3 padding">
        <input id="txtEditFName" type="text" />
    </div>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        <label>Last Name </label>
    </div>
    <div class="col-lg-3">
        <input id="txtEditLName" type="text" />
    </div>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        <label>Address </label>
    </div>
    <div class="col-lg-3">
        <textarea id="txtEditaddress"></textarea>
    </div>
</div>
<div class="col-lg-6">

    <div class="col-lg-3">
        <label>Moblie </label>
    </div>
    <div class="col-lg-3">
        <input id="txtEditMobNumber" type="text" />
    </div>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        <label>Gender </label>
    </div>
    <div class="col-lg-3">
        <select class="dropdown text-center" id="txtEditGender" type="text">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
</div>
<div class="col-lg-6">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-3">
    </div>
</div>
<input id="txtEditID" type="text" hidden/>


