
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Members</h2>
<style>
    .Padding {
        padding: 10px,10px,10px,10px !important
    }
</style>

<div class="main app form" id="main">
    <div class="Members-Banner">
        <div class="container">
            <div class="sub-inner">
                <h1 class="wow fadeInUp" style="color:white;">New Members Form </h1>
            </div>
        </div>
    </div>

    <div class="app-features form" id="features">
        <div class="container">
            <div class="col-lg-6 Padding">
                <div class="col-lg-3 ">
                    <label>Member Id </label>
                </div>
                <div class="col-lg-3 ">
                    <input id="txtMemberId" type="text" />
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <label>First Name </label>
                </div>
                <div class="col-lg-3 padding">
                    <input id="txtFName" type="text" />
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <label>Last Name </label>
                </div>
                <div class="col-lg-3">
                    <input id="txtLName" type="text" />
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <label>Address </label>
                </div>
                <div class="col-lg-3">
                    <textarea id="txtaddress"></textarea>
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <label>Moblie </label>
                </div>
                <div class="col-lg-3">
                    <input id="txtMobNumber" type="text" />
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <label>Gender </label>
                </div>
                <div class="col-lg-3">
                    <select class="dropdown text-center" id="txtGender" type="text">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 Padding">
                <div class="col-lg-3">
                    <input class="btn btn-success" type="button" onclick="save()" value="Save" />
                </div>
                <div class="col-lg-3">
                </div>

            </div>

        </div>
    </div>


    <div id="features">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
                <tbody id="tblBody"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="EditModal" style="width:500px;height:500px;">
    <div class="modal-header">
        EDIT MEMEBR
    </div>
    <div class="modal-body">
        <div class="app-features " id="features">
            <div class="">
                <div class="col-lg-6">
                    <div class="col-lg-3 ">
                        <label>Member Id </label>
                    </div>
                    <div class="col-lg-3 ">
                        <input id="txtMemberId" type="text" />
                    </div>


                    <div class="col-lg-3">
                        <label>First Name </label>
                    </div>
                    <div class="col-lg-3 padding">
                        <input id="txtFName" type="text" />
                    </div>

                    <div class="col-lg-3">
                        <label>Last Name </label>
                    </div>
                    <div class="col-lg-3">
                        <input id="txtLName" type="text" />
                    </div>

                    <div class="col-lg-3">
                        <label>Address </label>
                    </div>
                    <div class="col-lg-3">
                        <textarea id="txtaddress"></textarea>
                    </div>


                    <div class="col-lg-3">
                        <label>Moblie </label>
                    </div>
                    <div class="col-lg-3">
                        <input id="txtMobNumber" type="text" />
                    </div>


                    <div class="col-lg-3">
                        <label>Gender </label>
                    </div>
                    <div class="col-lg-3">
                        <select class="dropdown text-center" id="txtGender" type="text">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <input class="btn btn-success" type="button" onclick="save()" value="Save" />
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function save() {
        var memberId = $('#txtMemberId').val();
        var FName = $('#txtFName').val();
        var LName = $('#txtLName').val();
        var gender = $('#txtGender').val();
        var address = $('#txtaddress').val();
        var mobile = $('#txtMobNumber').val();

        data = {
            id: 1,
            MemberId: memberId,
            FName: FName,
            LName: LName,
            Gender: gender,
            Address: address,
            Mob: mobile
        }

        $.ajax({
            type: "POST",
            url: "/Members/SaveMember",
            data: data,
            success: success,
            dataType: "JSON"
        });

        function success(data) {
            alert(data);
            getMembers();
            clearTextBoxes();
        }
    }


    function getMembers() {
        $.ajax({
            type: "GET",
            url: "/Members/GetMembersList",
            success: success,
            dataType: "JSON"
        });

        function success(data) {
            var i = 0;
            $("#tblBody").empty();
            for (var row in data) {
                $("#tblBody").append("<tr><td>" + data[i].FName + "</td><td>" + data[i].LName + "</td><td>" + data[i].Gender + "</td><td><button value='Edit' class='btn btn-primary' OnClick=PopUpModal(" + data[i].id + ")>Edit</button> | <button  class='btn btn-danger' OnClick=deleteMember(" + data[i].id + ")>Delete</button></td></tr>");
                i++;
            }
        }
    }

    function PopUpModal(id) {
        $("#EditModal").modal();
    }

    function clearTextBoxes() {
        $('#txtMemberId').val('');
        $('#txtFName').val('');
        $('#txtLName').val('');
        $('#txtGender').val('Male');
        $('#txtaddress').val('');
        $('#txtMobNumber').val('');

    }

    function deleteMember(id) {
        alert(id)

        $.ajax({
            type: "POST",
            url: "/Members/DeleteMember",
            data: { id: id },
            success: function (data) { alert(data); getMembers(); },
            dataType: "JSON"
        });
    }
    getMembers();
</script>
